@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html,
body,
#root {
  overflow-x: hidden;
  max-width: 100%;
}
html,
body,
#root {
  overflow-x: hidden;
  max-width: 100%;
  background: #FAF9F5;
}

body {
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left var(--speed, 60s) linear infinite;
}

.animate-slide-right {
  animation: slide-right var(--speed, 60s) linear infinite;
}

.dual-range::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #93B733;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  border: 2px solid white;
}
.dual-range::-moz-range-thumb {
  pointer-events: auto;
  width: 20px;
  height: 20px;
  background: #93B733;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  border: 2px solid white;
}
